<!DOCTYPE html>
<html lang="en" class="wide wow-animation smoothscroll scrollTo desktop landscape rd-navbar-static-linked">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
  <base href="/">
  <title page-title></title>
  <meta name="description" content="{{description}}">
  <meta name="fragment" content="!">

  <!-- Apple META -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <!-- Facebook META -->
  <meta property="fb:app_id" content="{{facebookAppId}}">
  <meta property="og:site_name" content="{{title}}">
  <meta property="og:title" content="{{title}}">
  <meta property="og:description" content="{{description}}">
  <meta property="og:url" content="{{url}}">
  <meta property="og:image" content="{{logo}}">
  <meta property="og:type" content="website">

  <!-- Twitter META -->
  <meta name="twitter:title" content="{{title}}">
  <meta name="twitter:description" content="{{description}}">
  <meta name="twitter:url" content="{{url}}">
  <meta name="twitter:image" content="{{logo}}">

  <!-- Fav Icon -->
  <link href="{{favicon}}" rel="shortcut icon" type="image/x-icon">

  <!-- Application CSS Files -->
  {% for cssFile in cssFiles %}<link rel="stylesheet" href="{{cssFile}}">{% endfor %}
</head>

<body class="ng-cloak">
  <div class="page text-center">
    <header class="page-head slider-menu-position">
      <div class="rd-navbar-wrap" ng-controller="HeaderController">

        <!-- RD Navbar Transparent-->
        <nav class="rd-navbar rd-navbar-default rd-navbar-transparent" data-auto-height="true" data-md-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-stick-up="true">
          <div class="rd-navbar-inner">
            <!-- RD Navbar Panel-->
            <div class="rd-navbar-panel">
              <!-- RD Navbar Toggle-->
              <button data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap" class="rd-navbar-toggle"><span></span></button>
              <!--Navbar Brand-->
              <div class="rd-navbar-brand"><a ui-sref="home"><span id="logo" class="rd-navbar-brand-slogan text-bold text-white">SmallBatch</span></a></div>
            </div>
            <div class="rd-navbar-menu-wrap">
              <div class="rd-navbar-nav-wrap">
                <div class="rd-navbar-mobile-scroll">
                  <!--Navbar Brand Mobile-->
                  <div class="rd-navbar-mobile-brand"><a ui-sref="home"><img style='margin-top: -5px;margin-left: -15px;' width='138' height='31' src='images/logo.png' alt=''/></a></div>
                  <div class="form-search-wrap">
                    <form action="search-results.html" method="GET" class="form-search">
                      <div class="form-group">
                        <label for="rd-navbar-form-search-widget" class="form-label form-search-label form-label-sm">Search</label>
                        <input id="rd-navbar-form-search-widget" type="text" name="s" autocomplete="off" class="form-search-input input-sm form-control form-control-gray-lightest input-sm"/>
                      </div>
                      <button type="submit" class="form-search-submit"><span class="mdi mdi-magnify"></span></button>
                    </form>
                  </div>
                  <!-- RD Navbar Nav-->
                  <ul class="rd-navbar-nav">
                    <li class="active"><a ui-sref="home"><span>Home</span></a>
                    </li>
                    <li><a href="about.html"><span>About Us</span></a>
                    </li>
                    <li><a ui-sref="menuitems.list"><span>Menu</span></a>
                    </li>
                    <li><a ui-sref="authentication.signin"><span>Sign In</span></a>
                    </li>
                    <li><a href="events.html"><span>Events</span></a>
                      <ul class="rd-navbar-dropdown">
                        <li><a href="single-event.html"><span class="text-middle">Single Event</span></a>
                        </li>
                        <li><a href="#"><span class="text-middle">Action</span></a>
                        </li>
                        <li><a href="#"><span class="text-middle">Another Action</span></a>
                        </li>
                      </ul>
                    </li>
                    <li><a href="contacts.html"><span>Contacts</span></a>
                    </li>
                  </ul>
                </div>
              </div>
              <!--RD Navbar Search-->
              <div class="rd-navbar-search"><a data-rd-navbar-toggle=".rd-navbar-inner,.rd-navbar-search" href="#" class="rd-navbar-search-toggle mdi"><span></span></a>
                <form action="search-results.html" method="GET" class="rd-navbar-search-form search-form-icon-right">
                  <div class="form-group">
                    <label for="rd-navbar-search-form-input" class="form-label">Type and hit enter...</label>
                    <input id="rd-navbar-search-form-input" type="text" name="s" autocomplete="off" class="rd-navbar-search-form-input form-control form-control-gray-lightest"/>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </nav>
      </div>

    </header>
    <main class="page-content" >
       <!--Section Intro-->
      <!--<section class="context-dark" >-->
        <!--<div data-on="false" data-md-on="true" class="rd-parallax">-->
          <!--<div data-speed="0.45" data-type="media" data-url="modules/core/client/img/intro-01-1920x955.jpg" class="rd-parallax-layer"></div>-->
          <!--<div data-speed="0.3" data-type="html" data-fade="true" class="rd-parallax-layer">-->
            <!--<div class="shell">-->
              <!--<div class="section-110 section-cover range range-xs-center range-xs-middle">-->
                <!--<div class="cell-md-8">-->
                  <!--<img src="modules/core/client/img/smallbatch-logo.png" alt="">-->
                  <!--<div class="group offset-top-50"><a href="#" data-custom-scroll-to="meal-section" class="btn btn-lg btn-primary">Order Now</a></div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</section>-->
      <!-- Section Welcome -->
      <!--<section class="section-98 section-md-110">-->
        <!--<div class="shell">-->
          <!--<div class="range text-lg-left">-->
            <!--<div class="cell-sm-preffix-2 cell-sm-8 cell-lg-preffix-0 cell-lg-6 cell-lg-push-6">-->
              <!--<div class="shadow-drop-xl">-->
                <!--&lt;!&ndash; Media Elements&ndash;&gt;-->
                <!--<div class="embed-responsive embed-responsive-16by9">-->
                  <!--<iframe src="https://www.youtube.com/embed/hUNAX1UYeAE" class="embed-responsive-item"></iframe>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
            <!--<div class="cell-sm-preffix-2 cell-sm-8 cell-lg-preffix-0 cell-lg-6 cell-lg-pull-6 offset-top-30 offset-lg-top-0">-->
              <!--<div class="inset-lg-right-20">-->
                <!--<h1><span class="reveal-block font-accent big">Zaher</span><span class="reveal-block offset-top-4 h3 text-light text-uppercase">SmallBatch</span></h1>-->
                <!--<hr class="divider hr-lg-left-0 bg-mantis offset-top-30">-->
                <!--<p>Want some good eats?  I know you do.  Zaher has some serious good eats.  Eats you'd really wanna eat.  Boxes of your favorite eats for you and all the pals you wanna eat with!  Dont be a fool, check out these serious eats.  Appetizer Eats.  Entree Eats.  Dessert Eats.   .... Eats for your grill.  One-Off Eats.  Eats you can add to your other eats.  Stop fucking around and eat.  Bitch.</p>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</section>-->
      <section>
        {% block content %}{% endblock %}
      </section>
      <!-- Section Menu -->
      <!--<section>-->
        <!--<div class="context-dark">-->
          <!--&lt;!&ndash; RD Parallax&ndash;&gt;-->
          <!--<div data-on="false" data-md-on="true" class="rd-parallax">-->
            <!--<div data-speed="0.35" data-type="media" data-url="modules/meals/client/img/smallbatch1.jpg" class="rd-parallax-layer"></div>-->
            <!--<div data-speed="0" data-type="html" class="rd-parallax-layer">-->
              <!--<div class="shell section-66 section-sm-110">-->
                <!--<div>-->
                  <!--<h1 class="font-accent"><span class="big">Zaher's Menu</span></h1>-->
                <!--</div>-->
                <!--<ul class="list-inline list-inline-mg list-inline-squared h3 text-uppercase text-light offset-top-4 veil reveal-xs-block">-->
                  <!--<li>On the Stove</li>-->
                  <!--<li>On the Grill</li>-->
                <!--</ul>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <!--<div class="shell-wide section-66">-->
          <!--{{authentication}}-->
          <!--<div class="isotope-wrap">-->
            <!--<div class="row">-->
              <!--&lt;!&ndash; Isotope Filters&ndash;&gt;-->
              <!--<div class="col-lg-12">-->
                <!--<div class="isotope-filters isotope-filters-horizontal">-->
                  <!--<ul class="list-inline list-inline-sm">-->
                    <!--<li class="veil-md">-->
                      <!--<p>Choose your category:</p>-->
                    <!--</li>-->
                    <!--<li class="section-relative">-->
                      <!--<button data-custom-toggle="isotope-1" data-custom-toggle-disable-on-blur="true" class="isotope-filters-toggle btn btn-sm btn-default">Filter<span class="caret"></span></button>-->
                      <!--<ul id="isotope-1" class="list-sm-inline isotope-filters-list">-->
                        <!--<li><a data-isotope-filter="*" data-isotope-group="menu" href="#" class="text-sbold active">All</a></li>-->
                        <!--<li><a data-isotope-filter="Breakfasts" data-isotope-group="menu" href="#" class="text-sbold">Breakfasts</a></li>-->
                        <!--<li><a data-isotope-filter="Lunches" data-isotope-group="menu" href="#" class="text-sbold">Lunches</a></li>-->
                        <!--<li><a data-isotope-filter="Dinners" data-isotope-group="menu" href="#" class="text-sbold">Dinners</a></li>-->
                        <!--<li><a data-isotope-filter="Desserts" data-isotope-group="menu" href="#" class="text-sbold">Desserts</a></li>-->
                        <!--<li><a data-isotope-filter="Drinks" data-isotope-group="menu" href="#" class="text-sbold">Drinks</a></li>-->
                      <!--</ul>-->
                    <!--</li>-->
                  <!--</ul>-->
                <!--</div>-->
              <!--</div>-->
              <!--&lt;!&ndash; Isotope Content&ndash;&gt;-->
              <!--<div class="col-lg-12 offset-top-34">-->
                <!--<div data-isotope-layout="fitRows" data-isotope-group="menu" class="isotope">-->
                  <!--<div class="row">-->
                    <!--<div data-filter="Breakfasts" class="col-xs-12 col-md-4 isotope-item">-->
                      <!--<div class="inset-md-right-20">-->
                        <!--&lt;!&ndash; Pricing Box type 1&ndash;&gt;-->
                        <!--<ul class="box-pricing box-pricing-type-1 list-unstyled">-->
                          <!--<li class="box-pricing-item">-->
                            <!--<div class="box-pricing-title big text-uppercase text-spacing-120">-->
                              <!--<div class="box-pricing-name text-darker text-bold">Old Timer's Breakfast</div>-->
                              <!--<div class="box-pricing-dots"></div>-->
                              <!--<div class="box-pricing-price h5 text-bold">$22.00</div>-->
                            <!--</div>-->
                            <!--<div class="box-pricing-desc text-dark offset-top-10">( Two eggs cooked to order with grits, sawmill gravy, homemade buttermilk biscuits &amp; real butter  )</div>-->
                          <!--</li>-->
                          <!--<li class="box-pricing-item">-->
                            <!--<div class="box-pricing-title big text-uppercase text-spacing-120">-->
                              <!--<div class="box-pricing-name text-darker text-bold">Fresh Start Sampler</div>-->
                              <!--<div class="box-pricing-dots"></div>-->
                              <!--<div class="box-pricing-price h5 text-bold">$37.00</div>-->
                            <!--</div>-->
                            <!--<div class="box-pricing-desc text-dark offset-top-10">( Start your day with a mix of low fat vanilla yogurt, fresh seasonal fruit topped with our honey mix )</div>-->
                          <!--</li>-->
                          <!--<li class="box-pricing-item">-->
                            <!--<div class="box-pricing-title big text-uppercase text-spacing-120">-->
                              <!--<div class="box-pricing-name text-darker text-bold">Double Meat Breakfast</div>-->
                              <!--<div class="box-pricing-dots"></div>-->
                              <!--<div class="box-pricing-price h5 text-bold">$42.00</div>-->
                            <!--</div>-->
                            <!--<div class="box-pricing-desc text-dark offset-top-10">( Three eggs cooked to order with a full order of bacon and sausage patties )</div>-->
                          <!--</li>-->
                          <!--<li class="box-pricing-item">-->
                            <!--<div class="box-pricing-title big text-uppercase text-spacing-120">-->
                              <!--<div class="box-pricing-name text-darker text-bold">Crab &amp; avocado bruschetta</div>-->
                              <!--<div class="box-pricing-dots"></div>-->
                              <!--<div class="box-pricing-price h5 text-bold">$19.00</div>-->
                            <!--</div>-->
                            <!--<div class="box-pricing-desc text-dark offset-top-10">( Fresh white&amp;brown crab, crunchy fennel, smashed avocado, yoghurt &amp; chilli )</div>-->
                          <!--</li>-->
                        <!--</ul>-->
                      <!--</div>-->
                    <!--</div>-->
                    <!--<div data-filter="Lunches" class="col-xs-12 col-md-4 isotope-item">-->
                      <!--<div class="inset-md-right-20">-->
                        <!--&lt;!&ndash; Pricing Box type 1&ndash;&gt;-->
                        <!--<ul class="box-pricing box-pricing-type-1 list-unstyled">-->
                          <!--<li class="box-pricing-item">-->
                            <!--<div class="box-pricing-title big text-uppercase text-spacing-120">-->
                              <!--<div class="box-pricing-name text-darker text-bold">Turkey milanese</div>-->
                              <!--<div class="box-pricing-dots"></div>-->
                              <!--<div class="box-pricing-price h5 text-bold">$22.00</div>-->
                            <!--</div>-->
                            <!--<div class="box-pricing-desc text-dark offset-top-10">( Stuffed with prosciutto &amp; provolone, breadcrumbed &amp; topped with a free-range egg &amp; black summer truffle. )</div>-->
                          <!--</li>-->
                          <!--<li class="box-pricing-item">-->
                            <!--<div class="box-pricing-title big text-uppercase text-spacing-120">-->
                              <!--<div class="box-pricing-name text-darker text-bold">Fritto misto</div>-->
                              <!--<div class="box-pricing-dots"></div>-->
                              <!--<div class="box-pricing-price h5 text-bold">$37.00</div>-->
                            <!--</div>-->
                            <!--<div class="box-pricing-desc text-dark offset-top-10">( Mixed seasonal flash-fried sustainable fish &amp; shellfish served with chunky Italian tartare sauce &amp; lemon. )</div>-->
                          <!--</li>-->
                          <!--<li class="box-pricing-item">-->
                            <!--<div class="box-pricing-title big text-uppercase text-spacing-120">-->
                              <!--<div class="box-pricing-name text-darker text-bold">Italian steak frites</div>-->
                              <!--<div class="box-pricing-dots"></div>-->
                              <!--<div class="box-pricing-price h5 text-bold">$42.00</div>-->
                            <!--</div>-->
                            <!--<div class="box-pricing-desc text-dark offset-top-10">( Flash-grilled prime beef steak, served with Italian-spiced skinny fries &amp; crunchy vegetable slaw. )</div>-->
                          <!--</li>-->
                          <!--<li class="box-pricing-item">-->
                            <!--<div class="box-pricing-title big text-uppercase text-spacing-120">-->
                              <!--<div class="box-pricing-name text-darker text-bold">Baked Crespelle</div>-->
                              <!--<div class="box-pricing-dots"></div>-->
                              <!--<div class="box-pricing-price h5 text-bold">$19.00</div>-->
                            <!--</div>-->
                            <!--<div class="box-pricing-desc text-dark offset-top-10">( Spinach, Westcombe ricotta &amp; basil baked in gluten-free buckwheat pancakes with smoked mozzarella, sweet buttery leeks, Sicilian tomato sauce &amp; Parmesan. )</div>-->
                          <!--</li>-->
                        <!--</ul>-->
                      <!--</div>-->
                    <!--</div>-->
                    <!--<div data-filter="Dinners" class="col-xs-12 col-md-4 isotope-item">-->
                      <!--<div class="inset-md-right-20">-->
                        <!--&lt;!&ndash; Pricing Box type 1&ndash;&gt;-->
                        <!--<ul class="box-pricing box-pricing-type-1 list-unstyled">-->
                          <!--<li class="box-pricing-item">-->
                            <!--<div class="box-pricing-title big text-uppercase text-spacing-120">-->
                              <!--<div class="box-pricing-name text-darker text-bold">Our famous prawn linguine</div>-->
                              <!--<div class="box-pricing-dots"></div>-->
                              <!--<div class="box-pricing-price h5 text-bold">$22.00</div>-->
                            <!--</div>-->
                            <!--<div class="box-pricing-desc text-dark offset-top-10">( Fried garlicky prawns, fennel, tomatoes, chilli, saffron, fish broth &amp; lemony rocket. )</div>-->
                          <!--</li>-->
                          <!--<li class="box-pricing-item">-->
                            <!--<div class="box-pricing-title big text-uppercase text-spacing-120">-->
                              <!--<div class="box-pricing-name text-darker text-bold">Gnocchi genovese</div>-->
                              <!--<div class="box-pricing-dots"></div>-->
                              <!--<div class="box-pricing-price h5 text-bold">$37.00</div>-->
                            <!--</div>-->
                            <!--<div class="box-pricing-desc text-dark offset-top-10">( Potato gnocchi with green beans, crushed purple potatoes, basil pesto, toasted pine nuts, bella lodi &amp; ricotta. )</div>-->
                          <!--</li>-->
                          <!--<li class="box-pricing-item">-->
                            <!--<div class="box-pricing-title big text-uppercase text-spacing-120">-->
                              <!--<div class="box-pricing-name text-darker text-bold">Penne carbonara</div>-->
                              <!--<div class="box-pricing-dots"></div>-->
                              <!--<div class="box-pricing-price h5 text-bold">$42.00</div>-->
                            <!--</div>-->
                            <!--<div class="box-pricing-desc text-dark offset-top-10">( Crispy chunks of smoked pancetta, sweet buttery leeks, lemon &amp; a traditional carbonara sauce. )</div>-->
                          <!--</li>-->
                          <!--<li class="box-pricing-item">-->
                            <!--<div class="box-pricing-title big text-uppercase text-spacing-120">-->
                              <!--<div class="box-pricing-name text-darker text-bold">Three-cheese caramelle</div>-->
                              <!--<div class="box-pricing-dots"></div>-->
                              <!--<div class="box-pricing-price h5 text-bold">$19.00</div>-->
                            <!--</div>-->
                            <!--<div class="box-pricing-desc text-dark offset-top-10">( Beautiful filled pasta with ricotta, provolone, bella lodi &amp; spinach, served with creamy tomato, garlic, basil &amp; rosé wine sauce. )</div>-->
                          <!--</li>-->
                        <!--</ul>-->
                      <!--</div>-->
                    <!--</div>-->
                    <!--<div data-filter="Desserts" class="col-xs-12 col-md-4 isotope-item">-->
                      <!--<div class="inset-md-right-20">-->
                        <!--&lt;!&ndash; Pricing Box type 1&ndash;&gt;-->
                        <!--<ul class="box-pricing box-pricing-type-1 list-unstyled">-->
                          <!--<li class="box-pricing-item">-->
                            <!--<div class="box-pricing-title big text-uppercase text-spacing-120">-->
                              <!--<div class="box-pricing-name text-darker text-bold">Tiramisù</div>-->
                              <!--<div class="box-pricing-dots"></div>-->
                              <!--<div class="box-pricing-price h5 text-bold">$22.00</div>-->
                            <!--</div>-->
                            <!--<div class="box-pricing-desc text-dark offset-top-10">( The classic italian dessert topped with chocolate shavings &amp; orange zest. )</div>-->
                          <!--</li>-->
                          <!--<li class="box-pricing-item">-->
                            <!--<div class="box-pricing-title big text-uppercase text-spacing-120">-->
                              <!--<div class="box-pricing-name text-darker text-bold">Rasbery &amp; honeycomb pavlova</div>-->
                              <!--<div class="box-pricing-dots"></div>-->
                              <!--<div class="box-pricing-price h5 text-bold">$37.00</div>-->
                            <!--</div>-->
                            <!--<div class="box-pricing-desc text-dark offset-top-10">( Rippled, gooey meringue, zesty cream, macerated raspberries, smashed honeycomb &amp; fresh mint. )</div>-->
                          <!--</li>-->
                          <!--<li class="box-pricing-item">-->
                            <!--<div class="box-pricing-title big text-uppercase text-spacing-120">-->
                              <!--<div class="box-pricing-name text-darker text-bold">Molten chocolate praline pudding</div>-->
                              <!--<div class="box-pricing-dots"></div>-->
                              <!--<div class="box-pricing-price h5 text-bold">$42.00</div>-->
                            <!--</div>-->
                            <!--<div class="box-pricing-desc text-dark offset-top-10">( Warm chocolate cake with a liquid praline centre, served with salted caramel ice cream &amp; praline.  )</div>-->
                          <!--</li>-->
                          <!--<li class="box-pricing-item">-->
                            <!--<div class="box-pricing-title big text-uppercase text-spacing-120">-->
                              <!--<div class="box-pricing-name text-darker text-bold">Orange blossom polenta cake</div>-->
                              <!--<div class="box-pricing-dots"></div>-->
                              <!--<div class="box-pricing-price h5 text-bold">$19.00</div>-->
                            <!--</div>-->
                            <!--<div class="box-pricing-desc text-dark offset-top-10">( Polenta cake studded with candied fruit, served with whipped creme fraiche &amp; pomegranate. )</div>-->
                          <!--</li>-->
                        <!--</ul>-->
                      <!--</div>-->
                    <!--</div>-->
                    <!--<div data-filter="Drinks" class="col-xs-12 col-md-4 isotope-item">-->
                      <!--<div class="inset-md-right-20">-->
                        <!--&lt;!&ndash; Pricing Box type 1&ndash;&gt;-->
                        <!--<ul class="box-pricing box-pricing-type-1 list-unstyled">-->
                          <!--<li class="box-pricing-item">-->
                            <!--<div class="box-pricing-title big text-uppercase text-spacing-120">-->
                              <!--<div class="box-pricing-name text-darker text-bold">Raspberry mule</div>-->
                              <!--<div class="box-pricing-dots"></div>-->
                              <!--<div class="box-pricing-price h5 text-bold">$22.00</div>-->
                            <!--</div>-->
                            <!--<div class="box-pricing-desc text-dark offset-top-10">( Vodka, raspberry purée &amp; fresh lime juice topped with ginger beer )</div>-->
                          <!--</li>-->
                          <!--<li class="box-pricing-item">-->
                            <!--<div class="box-pricing-title big text-uppercase text-spacing-120">-->
                              <!--<div class="box-pricing-name text-darker text-bold">La dolce vita</div>-->
                              <!--<div class="box-pricing-dots"></div>-->
                              <!--<div class="box-pricing-price h5 text-bold">$37.00</div>-->
                            <!--</div>-->
                            <!--<div class="box-pricing-desc text-dark offset-top-10">( Saliza amaretto, triple sec &amp; sugar syrup shaken up with fresh lemon &amp; cranberry juice )</div>-->
                          <!--</li>-->
                          <!--<li class="box-pricing-item">-->
                            <!--<div class="box-pricing-title big text-uppercase text-spacing-120">-->
                              <!--<div class="box-pricing-name text-darker text-bold">Montepulciano d’abruzzo</div>-->
                              <!--<div class="box-pricing-dots"></div>-->
                              <!--<div class="box-pricing-price h5 text-bold">$42.00</div>-->
                            <!--</div>-->
                            <!--<div class="box-pricing-desc text-dark offset-top-10">( Cherry &amp; chocolate flavours are typical of this well-known grape )</div>-->
                          <!--</li>-->
                          <!--<li class="box-pricing-item">-->
                            <!--<div class="box-pricing-title big text-uppercase text-spacing-120">-->
                              <!--<div class="box-pricing-name text-darker text-bold">Sauvignon blanc</div>-->
                              <!--<div class="box-pricing-dots"></div>-->
                              <!--<div class="box-pricing-price h5 text-bold">$19.00</div>-->
                            <!--</div>-->
                            <!--<div class="box-pricing-desc text-dark offset-top-10">( Herby aromas &amp; melon flavours )</div>-->
                          <!--</li>-->
                        <!--</ul>-->
                      <!--</div>-->
                    <!--</div>-->
                  <!--</div>-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</section>-->
    </main>
  </div>



  <!--Embedding The User Object-->
  <script type="text/javascript">
    var user = {{ user | json | safe }};
  </script>

  <!--Load The Socket.io File-->
  <!--<script type="text/javascript" src="/socket.io/socket.io.js"></script>-->

  <!--Application JavaScript Files-->
  {% for jsFile in jsFiles %}<script type="text/javascript" src="{{jsFile}}"></script>{% endfor %}

  {% if livereload %}
  <!--Livereload script rendered -->
  <script type="text/javascript" src="{{host}}:35729/livereload.js"></script>
  {% endif %}
</body>

</html>
