<!DOCTYPE html>
<html lang="en" class="wide wow-animation smoothscroll scrollTo desktop landscape rd-navbar-static-linked">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1">
  <base href="/">
  <title page-title></title>
  <meta name="description" content="{{description}}">
  <meta name="fragment" content="!">

  <!-- Apple META -->
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="apple-mobile-web-app-status-bar-style" content="black">

  <!-- Facebook META -->
  <meta property="fb:app_id" content="{{facebookAppId}}">
  <meta property="og:site_name" content="{{title}}">
  <meta property="og:title" content="{{title}}">
  <meta property="og:description" content="{{description}}">
  <meta property="og:url" content="{{url}}">
  <meta property="og:image" content="{{logo}}">
  <meta property="og:type" content="website">

  <!-- Twitter META -->
  <meta name="twitter:title" content="{{title}}">
  <meta name="twitter:description" content="{{description}}">
  <meta name="twitter:url" content="{{url}}">
  <meta name="twitter:image" content="{{logo}}">

  <!-- Fav Icon -->
  <link href="{{favicon}}" rel="shortcut icon" type="image/x-icon">

  <!-- Application CSS Files -->
  {% for cssFile in cssFiles %}<link rel="stylesheet" href="{{cssFile}}">{% endfor %}
</head>

<body class="ng-cloak">
  <div class="page text-center">
    <header class="page-head slider-menu-position">
      <div class="rd-navbar-wrap" >

        <!-- RD Navbar Transparent-->
        <nav class="rd-navbar rd-navbar-default rd-navbar-transparent" data-auto-height="true" data-md-layout="rd-navbar-fixed" data-lg-layout="rd-navbar-static" data-lg-stick-up="true">
          <div class="rd-navbar-inner">
            <!-- RD Navbar Panel-->
            <div class="rd-navbar-panel">
              <!-- RD Navbar Toggle-->
              <button data-rd-navbar-toggle=".rd-navbar, .rd-navbar-nav-wrap" class="rd-navbar-toggle"><span></span></button>
              <!--Navbar Brand-->
              <div class="rd-navbar-brand"><a ui-sref="home"><span id="logo" class="rd-navbar-brand-slogan text-bold text-white">SmallBatch</span></a></div>
            </div>
            <div class="rd-navbar-menu-wrap">
              <div class="rd-navbar-nav-wrap">
                <div class="rd-navbar-mobile-scroll">
                  <!--Navbar Brand Mobile-->
                  <div class="rd-navbar-mobile-brand"><a ui-sref="home"><img style='margin-top: -5px;margin-left: -15px;' width='138' height='31' src='images/logo.png' alt=''/></a></div>
                  <div class="form-search-wrap">
                    <form action="search-results.html" method="GET" class="form-search">
                      <div class="form-group">
                        <label for="rd-navbar-form-search-widget" class="form-label form-search-label form-label-sm">Search</label>
                        <input id="rd-navbar-form-search-widget" type="text" name="s" autocomplete="off" class="form-search-input input-sm form-control form-control-gray-lightest input-sm"/>
                      </div>
                      <button type="submit" class="form-search-submit"><span class="mdi mdi-magnify"></span></button>
                    </form>
                  </div>
                  <!-- RD Navbar Nav-->
                  <div ng-include="'/modules/core/client/views/header.client.view.html'"></div>
                  <!--<ul class="rd-navbar-nav">-->
                    <!--<li ui-sref-active="active" class="active"><a ui-sref="home"><span>Home</span></a>-->
                    <!--</li>-->
                    <!--<li ui-sref-active="active"><a href="about.html"><span>About Us</span></a>-->
                    <!--</li>-->
                    <!--<li ui-sref-active="active"><a ui-sref="menuitems.list"><span>Menu</span></a>-->
                    <!--</li>-->
                    <!--<li ui-sref-active="active"><a ui-sref="authentication.signin"><span>Sign In</span></a>-->
                    <!--</li>-->
                    <!--<li ui-sref-active="active"><a href="events.html"><span>Events</span></a>-->
                      <!--<ul class="rd-navbar-dropdown">-->
                        <!--<li><a href="single-event.html"><span class="text-middle">Single Event</span></a>-->
                        <!--</li>-->
                        <!--<li><a href="#"><span class="text-middle">Action</span></a>-->
                        <!--</li>-->
                        <!--<li><a href="#"><span class="text-middle">Another Action</span></a>-->
                        <!--</li>-->
                      <!--</ul>-->
                    <!--</li>-->
                    <!--<li ui-sref-active="active"><a ui-sref="authentication.signin"><span>Sign In</span></a>-->
                    <!--</li>-->
                  <!--</ul>-->
                </div>
              </div>
              <!--RD Navbar Search-->
              <!--<div class="rd-navbar-search"><a data-rd-navbar-toggle=".rd-navbar-inner,.rd-navbar-search" href="#" class="rd-navbar-search-toggle mdi"><span></span></a>-->
                <!--<form action="search-results.html" method="GET" class="rd-navbar-search-form search-form-icon-right">-->
                  <!--<div class="form-group">-->
                    <!--<label for="rd-navbar-search-form-input" class="form-label">Type and hit enter...</label>-->
                    <!--<input id="rd-navbar-search-form-input" type="text" name="s" autocomplete="off" class="rd-navbar-search-form-input form-control form-control-gray-lightest"/>-->
                  <!--</div>-->
                <!--</form>-->
              <!--</div>-->
            </div>
          </div>
        </nav>
      </div>

    </header>
    <main class="page-content" >
      <section>
        {% block content %}{% endblock %}
      </section>
    </main>
  </div>



  <!--Embedding The User Object-->
  <script type="text/javascript">
    var user = {{ user | json | safe }};
  </script>

  <!--Load The Socket.io File-->
  <!--<script type="text/javascript" src="/socket.io/socket.io.js"></script>-->

  <!--Application JavaScript Files-->
  {% for jsFile in jsFiles %}<script type="text/javascript" src="{{jsFile}}"></script>{% endfor %}

  {% if livereload %}
  <!--Livereload script rendered -->
  <script type="text/javascript" src="{{host}}:35729/livereload.js"></script>
  {% endif %}
</body>

</html>
