<div id="location">
  <div class="row">
    <div class="col span-1-of-2">
      <div class="row">
        <h3>Zaher SmallBatch</h3>
        <p>The Motley Kitchen</p>
        <p>70 Young Street</p>
        <p>Sudbury, ON</p>
        <p>P3E 3G4</p>
      </div>
      <div class="email">
        <a>gmail@zaherssmallbatch.com</a>
      </div>
    </div>

    <div class="col span-1-of-2">
      <ul class="social-links">
        <li><a href="https://www.facebook.com/zaherssmallbatch/" target="_blank"><i class="fa fa-facebook"></i></a></li>
        <li><a href="https://twitter.com/?lang=en"><i class="fa fa-twitter"></i></a></li>
        <li><a href="https://www.tripadvisor.ca/"><i class="fa fa-tripadvisor"></i></a></li>
        <li><a href="https://www.instagram.com/zaherssmallbatch/" target="_blank"><i class="fa fa-instagram"></i></a></li>
      </ul>
    </div>
  </div>
  <div class="row copyright">
    <p>
      Copyright &copy; 2016 by Zaher's Enterprises
    </p>
  </div>
</div>
