<div >
  <nav>
    <div class="row">
      <a ui-sref="order" class="order-btn">Order Now</a>
      <div class="main-nav">
        <ul class="row">
          <li class="col span-1-of-5"><a href="/#">Home</a></li>
          <li class="col span-1-of-5"><a href="/#about">About</a></li>
          <li class="col span-1-of-5"><a href="/#meals">Meals</a></li>
          <li class="col span-1-of-5"><a ui-sref="menu">Menu</a></li>
          <!--<li><a href="#">Gallery</a></li>-->
          <li class="col span-1-of-5"><a href="/#location">Info</a></li>
          <!--<li><a ui-sref="authentication.signin">Admin - {{isAdmin }}</a></li>-->
        </ul>
      </div>

      <ul class="social-links">
        <li>
            <a href="https://www.facebook.com/zaherssmallbatch/" target="_blank" class="facebook" ><i class="fa fa-facebook"></i></a>
            <a href="https://twitter.com/?lang=en" class="twitter"><i class="fa fa-twitter"></i></a>
        </li>
        <li>
          <a href="https://www.tripadvisor.ca/"><i class="fa fa-tripadvisor"></i></a>
          <a href="https://www.instagram.com/zaherssmallbatch/" target="_blank"><i class="fa fa-instagram"></i></a>
        </li>
      </ul>
    </div>
  </nav>
  <div class="mobile-order">
    <a ui-sref="order" >Order Now</a>
  </div>

</div>
