<div ng-controller="HeaderController">
  <!-- RD Navbar Nav-->
  <ul class="rd-navbar-nav">
    <li ui-sref-active="active" class="active"><a ui-sref="home"><span>Home</span></a></li>
    <li ui-sref-active="active"><a href="about.html"><span>About Us</span></a></li>
    <li ng-if="isAdmin" ui-sref-active="active"><a ui-sref="menuitems.list"><span>Menu</span></a></li>
    <li ng-if="!isAdmin" ui-sref-active="active"><a ui-sref="menuitems.readonlylist"><span>Menu</span></a></li>
    <li ui-sref-active="active"><a ui-sref="meals.list"><span>Meals</span></a></li>
    <li ui-sref-active="active"><a href="gallery.html"><span>Gallery</span></a></li>
    <li ui-sref-active="active"><a href="events.html"><span>Events</span></a>
      <ul class="rd-navbar-dropdown">
        <li><a href="single-event.html"><span class="text-middle">Single Event</span></a>
        </li>
        <li><a href="#"><span class="text-middle">Action</span></a>
        </li>
        <li><a href="#"><span class="text-middle">Another Action</span></a>
        </li>
      </ul>
    </li>

    <li ng-if="!isAuthenticated" ui-sref-active="active"><a ui-sref="authentication.signin"><span>Sign In</span></a>
    </li>
    <li ng-if="isAuthenticated" ui-sref-active="active"><a ng-click="logout()"><span>Log Out</span></a>
    </li>
  </ul>
</div>
