<div >

  <section class="home js-home" ng-controller="HomeController" >
    <div class="row">
      <div class="col js-home-text left-home-text">
        <div>EST. 1920</div>
        <div>Nazareth</div>
      </div>
      <div class="col main-logo">
        <!--<img src="modules/core/client/img/brand/zaher-logo.png">-->
      </div>
      <div class="col js-home-text right-home-text">
        <div>Take Out</div>
        <div>The Motley Kitchen</div>
        <div> 70 Young Street, Sudbury.</div>
      </div>
    </div>
    <div class="center-home-text">
      <div class="center-home-top">
        <div>EST. 1920</div>
        <div>Nazareth</div>
      </div>
      <div>
      <div>Take Out</div>
        <div>The Motley Kitchen</div>
        <div> 70 Young Street, Sudbury.</div>
      </div>
    </div>
  </section>
  <section class="section-video">
    <div class="row">
      <iframe width="560" height="315" src="https://www.youtube.com/embed/WqBoYtVJCIY?rel=0&modestbranding=1&showinfo=0&controls=0&theme=light" frameborder="0" allowfullscreen></iframe>
    </div>
  </section>

  <section class="section-about" id="about">
    <div class="row">
      <div class="col span-1-of-3">
        <div class="tile">
          <div class="what">
            What does "Small Batch" mean?
          </div>
        </div>
        <div class="row">
          <p class="subtext" ng-show="!moreInfo">
            <strong>Small Batch</strong> means carefully handcrafted food in an <strong>artisan</strong> fashion.
          </p>
          <p class="subtext" ng-show="moreInfo">
            <strong>Small Batch</strong> means carefully handcrafted food in an <strong>artisan</strong> fashion.<br><br>
            We all <strong>love</strong> food!<br><br>
            With a hint of <strong>Middle Eastern flare</strong> and a zest for <strong>modern fusion</strong> cuisine, Zaher's Small Batch perfectly suits Date Nights, Family Dinners and DIY Home Catering for when you're entertaining guests!<br><br>
            Further, we want to share our <strong>passion</strong> for food with you, and in the <strong>convenience</strong> of your own home... for a fraction of the cost of dining out!
          </p>
        </div>
      </div>

      <div class="col span-1-of-3">
        <div class="tile">
          <div class="how">
            How to order?
          </div>
        </div>
        <div class="row">
          <p class="subtext" ng-show="!moreInfo">
            <strong>Simply</strong> click on the "Order Now" button at the top of your screen or follow the menu options below!
          </p>
          <p class="subtext" ng-show="moreInfo">
            <strong>Simply</strong> click on the "Order Now" button at the top of your screen or follow the menu options below!<br><br>
            From this point, we need some <strong>basic</strong> information so we can contact you when your order is ready!<br><br>
            Since our supply is partially dependant on the <strong>local</strong> butchers we source and a baker who makes our <strong>fresh</strong> bread daily, we require 24 hours to complete your order.  As everything is freshly prepared and vacuum sealed, you have a week to pick it up! The efficiency behind this system helps us keep our costs low for you, when we don't waste good food!<br><br>
            There are <strong><span class="underlined">NO CANCELLATIONS</span></strong> once the order has been placed so please, double check your tasty selection!
          </p>
        </div>
      </div>

      <div class="col span-1-of-3">
        <div class="tile">
          <div class="boxes">
            ONEBox vs. BBQBox
          </div>
        </div>
        <div class="row">
          <p class="subtext" ng-show="!moreInfo">
            Our <strong>ONEBox</strong> selection is our higher line of par-prepared take home meals!
            <br><br>
            Our <strong>BBQBox</strong> concept is just as cool, and a bit cheaper.
          </p>
          <p class="subtext" ng-show="moreInfo">
            Our <strong>ONEBox</strong> selection is our <strong>higher line</strong> of par-prepared take home meals!  All of these meals are prepared fresh to order and vacuum sealed for you to enjoy in the comfort of your own home! Instructions are included and all <strong>ONEBox</strong> courses are prepared as easily as dropping the vacuum sealed packages in boiling water for a few minutes, or grilling!
            <br><br>
            Our <strong>BBQBox</strong> concept is just as cool, and a bit cheaper.  In every meal, you get: a side salad, grilling veggies, 8oz of meat and even the desserts go <strong>on the grill!</strong> No mess! Perfect for family dinners, camping or even entertaining large company for your outdoor occasion that you're celebrating!<br><br>
            For large events, please check out our <strong>"Live Charcoal Events"</strong> section!
          </p>
        </div>
      </div>
    </div>
    <div class="row more-info">
      <a href="#how" class="btn btn-sm btn-ghost-inverse"  ng-click="moreInfo = !moreInfo"><span ng-show="!moreInfo">Tell me more</span><span ng-show="moreInfo">Tell me less</span></a>
    </div>


  </section>

  <!--<section class="section-video">-->
    <!--<div class="row">-->
      <!--<iframe width="560" height="315" src="https://www.youtube.com/embed/Rt1QVlOkRfU?rel=0&modestbranding=1&showinfo=0&controls=0&theme=light" frameborder="0" allowfullscreen></iframe>-->
    <!--</div>-->
  <!--</section>-->

  <section class="section-meals" ng-controller="MealsListController" id="meals">
    <div class="row">
      <h2>A Meal Option for any Occasion!</h2>
    </div>
    <div class="row">
      <div class="col span-1-of-3" ng-repeat="meal in meals | orderBy: 'ordinal'">
        <div class="plan-box">
          <div>
            <h3>{{meal.name}}</h3>
            <p class="plan-price">{{meal.price}}<span>xx</span></p>
            <p class="plan-price-meal">{{meal.description}}</p>
          </div>
          <div>
            <ul>
              <li ng-repeat="course in meal.courses | orderBy: 'ordinal'">
                <i class="ion-ios-checkmark icon-small"></i>{{course.quantity}} {{course.name}}<ng-pluralize count="course.quantity" when="{'0': 'Nobody is viewing.', 'one': '', 'other': 's'}"></ng-pluralize>
              </li>
            </ul>
          </div>
          <div>
            <a ui-sref="order" class="btn" ng-class="$index == 0 ? 'btn-full' : 'btn-ghost'">Order Now</a>
          </div>
        </div>
      </div>

      <div class="col span-1-of-3">
        <div class="plan-box">
          <div>
            <h3>Live Charcoal Events!</h3>
            <p class="plan-price-small">Call for pricing</p>
            <p class="plan-price-meal">Your own personal grill master!</p>
          </div>
          <div>
            <ul>
              <li><i class="ion-ios-checkmark icon-small"></i>Lots of Meat!</li>
              <li><i class="ion-ios-checkmark icon-small"></i>Charcoal Cooked!</li>
              <li><i class="ion-ios-checkmark icon-small"></i>Just beautiful!</li>
            </ul>
          </div>
          <div>
            <a href="tel:1-705-923-9366" class="btn btn-ghost">Call Now</a>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-menu">
    <div class="row">
      <div class="yellow-strikeout"></div>
    </div>
    <div class="menu-button"><a ui-sref="menu" class="btn btn-full">Our menu</a></div>
  </section>
  <section class="section-quote">
    <div class="row">
      <div class="col span-1-of-3">
        <img src="modules/core/client/img/zaher-portrait.jpg" alt="">
      </div>
      <div class="col span-2-of-3">
        <div class="row quote">
          "Zaher's Small Batch...  Custom, Artisan, Handcrafted food at a 5 Star level but WAY cheaper than eating out!"
        </div>
        <div class="quote-author">~ Deke Zaher, Founder</div>
      </div>
    </div>
  </section>

  <!--<section class="section-gallery">-->
    <!--<ul class="showcase clearfix">-->
      <!--<li>-->
        <!--<figure class="gallery-photo">-->
          <!--<img src="modules/core/client/img/gallery/zaher-gallery1.jpg" alt="" >-->
        <!--</figure>-->
      <!--</li>-->
      <!--<li>-->
        <!--<figure class="gallery-photo">-->
          <!--<img src="modules/core/client/img/gallery/zaher-gallery2.jpg" alt="" >-->
        <!--</figure>-->
      <!--</li>-->
      <!--<li>-->
        <!--<figure class="gallery-photo">-->
          <!--<img src="modules/core/client/img/gallery/zaher-gallery3.jpg" alt="" >-->
        <!--</figure>-->
      <!--</li>-->
      <!--<li>-->
        <!--<figure class="gallery-photo">-->
          <!--<img src="modules/core/client/img/gallery/zaher-gallery5.jpg" alt="" >-->
        <!--</figure>-->
      <!--</li>-->
    <!--</ul>-->
    <!--<ul class="showcase clearfix">-->
      <!--<li>-->
        <!--<figure class="gallery-photo">-->
          <!--<img src="modules/core/client/img/gallery/zaher-gallery6.jpg" alt="" >-->
        <!--</figure>-->
      <!--</li>-->
      <!--<li>-->
        <!--<figure class="gallery-photo">-->
          <!--<img src="modules/core/client/img/gallery/zaher-gallery7.jpg" alt="" >-->
        <!--</figure>-->
      <!--</li>-->
      <!--<li>-->
        <!--<figure class="gallery-photo">-->
          <!--<img src="modules/core/client/img/gallery/zaher-gallery4.jpg" alt="" >-->
        <!--</figure>-->
      <!--</li>-->
      <!--<li>-->
        <!--<figure class="gallery-photo">-->
          <!--<img src="modules/core/client/img/gallery/zaher-gallery10.jpg" alt="" >-->
        <!--</figure>-->
      <!--</li>-->
    <!--</ul>-->
  <!--</section>-->

  <footer ng-include="'/modules/core/client/views/footer.client.view.html'"></footer>
</div>
