<section>
  <section class="context-dark" ng-controller="HomeController" >
    <div data-on="false" data-md-on="true" class="rd-parallax" >
      <div data-speed="0.45" data-type="media" data-url="../modules/core/client/img/intro-01-1920x955.jpg" class="rd-parallax-layer" style="background-image: url('../modules/core/client/img/intro-01-1920x955.jpg')"></div>
      <div data-speed="0.3" data-type="html" data-fade="true" class="rd-parallax-layer">
        <div class="shell">
          <div class="section-110 section-cover range range-xs-center range-xs-middle">
            <div class="cell-md-8">
              <img src="modules/core/client/img/smallbatch-logo.png" alt="">
              <div class="group offset-top-50"><a ui-sref="order.create" data-custom-scroll-to="meal-section" class="btn btn-lg btn-primary">Order Now</a></div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="section-98 section-md-110">
    <div class="shell">
      <div class="range text-lg-left">
        <div class="cell-sm-preffix-2 cell-sm-8 cell-lg-preffix-0 cell-lg-6 cell-lg-push-6">
          <div class="shadow-drop-xl">
            <!-- Media Elements-->
            <div class="embed-responsive embed-responsive-16by9">
              <iframe src="https://www.youtube.com/embed/hUNAX1UYeAE" class="embed-responsive-item"></iframe>
            </div>
          </div>
        </div>
        <div class="cell-sm-preffix-2 cell-sm-8 cell-lg-preffix-0 cell-lg-6 cell-lg-pull-6 offset-top-30 offset-lg-top-0">
          <div class="inset-lg-right-20">
            <h1><span class="reveal-block font-accent big">Zaher</span><span class="reveal-block offset-top-4 h3 text-light text-uppercase">SmallBatch</span></h1>
            <hr class="divider hr-lg-left-0 bg-mantis offset-top-30">
            <p>Want some good eats?  I know you do.  Zaher has some serious good eats.  Eats you'd really wanna eat.  Boxes of your favorite eats for you and all the pals you wanna eat with!  Dont be a fool, check out these serious eats.  Appetizer Eats.  Entree Eats.  Dessert Eats.   .... Eats for your grill.  One-Off Eats.  Eats you can add to your other eats.  Stop fucking around and eat.  Bitch.</p>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Section Menu -->
  <section ng-controller="CoursesListController">
    <div class="context-dark">
      <!-- RD Parallax-->
      <div data-on="false" data-md-on="true" class="rd-parallax">
        <div data-speed="0.35" data-type="media" data-url="modules/meals/client/img/smallbatch1.jpg" class="rd-parallax-layer" ></div>
        <div data-speed="0" data-type="html" class="rd-parallax-layer" style="background: url('../modules/meals/client/img/smallbatch1.jpg'); background-size: cover; background-repeat: no-repeat;">
          <div class="shell section-66 section-sm-110">
            <div>
              <h1 class="font-accent"><span class="big">Zaher's Menu</span></h1>
            </div>
            <ul class="list-inline list-inline-mg list-inline-squared h3 text-uppercase text-light offset-top-4 veil reveal-xs-block">
              <li>On the Stove</li>
              <li>On the Grill</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="shell-wide section-66">
      <div class="isotope-wrap">
        <div class="row">
          <!-- Isotope Filters-->
          <div class="col-lg-12">
            <div class="isotope-filters isotope-filters-horizontal">
              <ul class="list-inline list-inline-sm">
                <li class="veil-md">
                  <p>Choose your category:</p>
                </li>
                <li class="section-relative">
                  <button data-custom-toggle="isotope-1" data-custom-toggle-disable-on-blur="true" class="isotope-filters-toggle btn btn-sm btn-default">Filter<span class="caret"></span></button>
                  <ul class="list-sm-inline isotope-filters-list">
                    <li><a class="text-sbold" ng-class="{ active: selectedCourse == null }" ng-click="selectCourse()">All</a></li>
                    <li ng-repeat="course in courses" ng-if="course.menuItems.length > 0"><a class="text-sbold" ng-class="{ active: selectedCourse == course._id }" ng-click="selectCourse(course._id)">{{course.name}}</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
          <!-- Isotope Content-->
          <div class="col-lg-12 offset-top-34">
            <div>
              <div class="row" >
                <div class="col-xs-12 col-md-4 " ng-repeat="course in courses | filter: { _id : selectedCourse }" id="{{course._id}}" ng-if="course.menuItems.length > 0" >
                  <div class="inset-md-right-20">
                    <!-- Pricing Box type 1-->
                    <ul class="box-pricing box-pricing-type-1 list-unstyled">
                      <li class="box-pricing-item" ng-repeat="item in course.menuItems">
                        <div class="box-pricing-title big text-uppercase text-spacing-120">
                          <div class="box-pricing-name text-darker text-bold">{{item.name}}</div>
                          <div class="box-pricing-dots"></div>
                          <!--<div class="box-pricing-price h5 text-bold">$22.00</div>-->
                        </div>
                        <div class="box-pricing-desc text-dark offset-top-10">{{item.description}}</div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <script type="text/javascript" src="lib/intense/js/script.js"></script>
</section>


<!--<section ng-controller="HomeController" class="context-dark" >-->
  <!--<div data-on="false" data-md-on="true" class="rd-parallax">-->
    <!--<div data-speed="0.45" data-type="media" data-url="http://e2ua.com/WDF-1954915.html" class="rd-parallax-layer"></div>-->
    <!--<div data-speed="0.3" data-type="html" data-fade="true" class="rd-parallax-layer">-->
      <!--<div class="shell">-->
        <!--<div class="section-110 section-cover range range-xs-center range-xs-middle">-->
          <!--<div class="cell-md-8"><img src="modules/core/client/img/image-04-570x321.jpg" alt="" width="175" height="173">-->
            <!--<h1 class="font-accent"><span class="big">Intense Restaurant</span></h1>-->
            <!--<div class="group">-->
              <!--<div class="group-item reveal-block"><span class="icon icon-xxs mdi mdi-navigation text-middle"></span> <span class="text-middle">4578 Marmora Road, Glasgow D04 89GR</span>-->
              <!--</div>-->
              <!--<div class="group-item"><span class="icon icon-xxs mdi mdi-clock text-middle"></span> <span class="text-middle">10:00 am - 11:00 pm</span>-->
              <!--</div>-->
              <!--<div class="group-item"><span class="icon icon-xxs mdi mdi-phone text-middle"></span> <span class="text-middle">800 23456789</span>-->
              <!--</div>-->
            <!--</div>-->
            <!--<p class="offset-top-24 big veil reveal-sm-block">We introduce new cultures to visitors through cuisines of various countries, offering a special dish for everyone regardless of their food preferences.</p>-->
            <!--<div class="group offset-top-50"><a href="#" data-custom-scroll-to="reserve-now" class="btn btn-lg btn-primary">Make a reservation</a></div>-->
          <!--</div>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->
<!--</section>-->
