<section>
  <div class="page-header">
    <h1>Your Current Order</h1>
  </div>

  <!--<div class="page-header">-->
    <div data-ng-repeat="meal in vm.order.meals" >
      <div class="col-xs-7 col-sm-offset-2 bottom-gap-small">
        <span class="pull-right"><strong>{{meal.price * meal.quantity | currency}}</strong></span>
        <strong>{{meal.name}} <span ng-if="meal.quantity > 1">for {{meal.quantity}}</span></strong>
        <div class="col-xs-12" data-ng-repeat="course in meal.courses">
          {{course.menuItemName}}
        </div>
      </div>
    </div>
  <!--</div>-->
  <!--<div class="row">-->
    <div class="col-xs-7 col-sm-offset-2 ">
      <span class="pull-right"><strong>Total: {{vm.order.total | currency}}</strong></span>
    </div>
  <!--</div>-->
  <div class="col-xs-7 col-sm-offset-2 top-gap">
    <a ui-sref="order.checkout"><button class="btn btn-primary pull-right">Checkout</button></a>
  </div>
  <!--{{vm.order.meals}}-->
    <!--<div>{{vm.order.meals}}</div>-->
  <!--</div>-->


</section>
