<section>
  <div class="page-header">
    <h1>{{course._id ? 'Edit Course' : 'New Course'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="form.courseForm" class="form-horizontal" ng-submit="save(form.courseForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label col-sm-2" for="name">Name</label>
          <div class="col-sm-4">
            <input name="name" type="text" ng-model="course.name" id="name" class="form-control" placeholder="Name" required>
          </div>
          <div ng-messages="form.courseForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Course name is required.</p>
          </div>
        </div>
        <div class="form-group" show-errors>
          <label class="control-label col-sm-2" for="description">Description</label>
          <div class="col-sm-7">
            <textarea name="description" rows="10" type="text" ng-model="course.description" id="description" class="form-control" placeholder="Description"></textarea>
          </div>
        </div>
        <div class="form-group">
          <label class="control-label col-sm-2" for="enabled">Enabled</label>
          <div class="col-sm-1">
            <checkbox class="btn" ng-class="{ 'btn-success': course.enabled == true, 'btn-warning': course.enabled == false }" ng-model="course.enabled" id="enabled" name="enabled"></checkbox>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-info">{{course._id ? 'Update' : 'Create'}}</button>
          <a ng-if="course._id" ui-sref="courses.view({courseId: course._id})" >
            <button class="btn btn-default">Cancel</button>
          </a>
          <a ng-if="!course._id" ui-sref="courses.list" >
            <button class="btn btn-default">Cancel</button>
          </a>
          <a ng-if="course._id" class="btn btn-danger" data-ng-click="remove()">
            <i class="glyphicon glyphicon-trash"></i>
          </a>
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
