<section>
  <div class="page-header">
    <h1>Courses</h1>
  </div>
  <div ng-if="vm.isAdmin" class="bottom-gap">
    <a ui-sref="courses.create">
      <button class="btn btn-primary">Add Course</button>
    </a>
  </div>
  <div class="list-group">
    <a data-ng-repeat="course in vm.courses"
       data-ui-sref="courses.view({ courseId: course._id })"
       class="list-group-item" ng-class="{ 'list-group-item-warning': !course.enabled }">
      <!--<small class="list-group-item-text">-->
        <!--Posted on-->
        <!--<span data-ng-bind="course.created | date:'mediumDate'"></span>-->
        <!--by-->
        <!--<span data-ng-if="course.user" data-ng-bind="course.user.displayName"></span>-->
        <!--<span data-ng-if="!course.user">Deleted User</span>-->
      <!--</small>-->
      <h4 class="list-group-item-heading" data-ng-bind="course.name"></h4>
      <small data-ng-bind="course.description"></small>
    </a>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="vm.courses.$resolved && !vm.courses.length">
    No Courses yet, why don't you <a data-ui-sref="courses.create">create one</a>?
  </div>
</section>
