<section class="no-padding">
  <div>
    <h3>Courses</h3>
  </div>
  <div>
    <a ui-sref="admin.courses.create">Add Course</a>
  </div>

  <div class="list">
    <div data-ng-repeat="course in courses | orderBy: 'name'"
       data-ui-sref="admin.courses.edit({ courseId: course._id })"
       class="list-item" ng-class="{ 'list-group-item-warning': !course.enabled }">
      <!--<small class="list-group-item-text">-->
        <!--Posted on-->
        <!--<span data-ng-bind="course.created | date:'mediumDate'"></span>-->
        <!--by-->
        <!--<span data-ng-if="course.user" data-ng-bind="course.user.displayName"></span>-->
        <!--<span data-ng-if="!course.user">Deleted User</span>-->
      <!--</small>-->
      <h4 class="list-group-item-heading" data-ng-bind="course.name"></h4>
      <small data-ng-bind="course.description"></small>
    </div>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="courses.$resolved && !courses.length">
    No Courses yet, why don't you <a data-ui-sref="courses.create">create one</a>?
  </div>
</section>
