<section class="admin">
  <div class="item-header">
    <h1>{{vm.course.name}}</h1>
    <h4>{{vm.course.description}}</h4>
  </div>
  <div>
    <a ui-sref="menuitems.create({course: vm.course._id})">
      <button>Add {{vm.course.name}}</button>
    </a>
  </div>
  <div class="item-list">
    <a data-ng-repeat="menuItem in vm.course.menuItems"
       data-ui-sref="menuitems.view({ menuItemId: menuItem.id })">
      <h4 class="list-group-item-heading" data-ng-bind="menuItem.name"></h4>
      <small data-ng-bind="menuItem.description"></small>
    </a>
  </div>

  <small ng-if="vm.course.enabled">Enabled</small>

  <div class="item-edit">
    <a data-ui-sref="courses.edit({ courseId: vm.course._id })">Edit</a>
  </div>

  <small>
    <em >
      Created on
      <span data-ng-bind="vm.course.created | date:'mediumDate'"></span>
      by
      <span data-ng-if="vm.course.user"
            data-ng-bind="vm.course.user.displayName"></span>
      <span data-ng-if="!vm.course.user">Deleted User</span>
    </em>
  </small>
  <p data-ng-bind="vm.course.content"></p>
</section>
