<section class="order-home">
  <div class="order-container" ng-controller="MenuItemsListController">
    <div class="order-section">
      <div class="order-section-header">
        <div class="order-section-title">Boxes</div>
      </div>
      <div class="row">
        <div class="col span-1-of-2" ng-repeat="meal in meals">
          <div class="plan-box">
            <div>
              <h3>{{meal.name}}</h3>
              <p class="plan-price">{{meal.price}}<span>xx</span></p>
              <p class="plan-price-meal">{{meal.description}}</p>
            </div>
            <div>
              <ul>
                <li ng-repeat="course in meal.courses">
                  <i class="ion-ios-checkmark icon-small"></i>{{course.quantity}} {{course.name}}<ng-pluralize count="course.quantity" when="{'0': 'Nobody is viewing.', 'one': '', 'other': 's'}"></ng-pluralize>
                </li>
              </ul>
            </div>
            <div>
              <a href="#" class="btn" ng-class="$index == 0 ? 'btn-full' : 'btn-ghost'" ng-click="addToCart(meal)">Add to Cart</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="order-section">
      <div class="order-section-header">
        <div class="order-section-title">Add-ons</div>
      </div>
      <div class="row order-section-body">
        <div class="col span-1-of-2" ng-repeat="addon in addons">
          <div class="menu-item">
            <div class="item-title">{{addon.name}}</div>
            <div class="item-details">{{addon.description}}</div>
            <a class="addon-to-cart" ng-click="addToCart(addon)"><i class="ion-plus-circled"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="order-summary">
    Summary
  </div>

  <div class="order-overlay" ng-controller="OrdersController" ng-hide="!newItem" >
    <div class="order-popup">
      <div class="popup-header">
        <div class="row item-title">{{newItem.name}}</div>
        <div class="row item-details">{{newItem.description}}</div>
        <div class="item-price">${{newItem.price}}</div>
      </div>
      <div class="popup-body">
        <div class="row" ng-repeat="course in newItem.courses">
          {{course.name}}
        </div>
      </div>
      <div class="popup-footer">
        <a href="#" class="btn btn-sm btn-ghost" ng-click="newItem = null">Cancel</a>
        <a href="#" class="btn btn-sm btn-full" >Add to Cart</a>

      </div>
    </div>
  </div>
</section>
