<section class="order-home">
  <div class="order-container" ng-controller="MenuItemsListController">
    <div class="order-section">
      <div class="order-section-header">
        <div class="order-section-title">Boxes</div>
      </div>
      <div class="row">
        <div class="col span-1-of-2" ng-repeat="meal in meals | orderBy: 'ordinal'">
          <div class="plan-box">
            <div>
              <h3>{{meal.name}}</h3>
              <p class="plan-price">{{meal.price}}<span>xx</span></p>
              <p class="plan-price-meal">{{meal.description}}</p>
            </div>
            <div>
              <ul>
                <li ng-repeat="course in meal.courses | orderBy: 'ordinal'">
                  <i class="ion-ios-checkmark icon-small"></i>{{course.quantity}} {{course.name}}<ng-pluralize count="course.quantity" when="{'0': 'Nobody is viewing.', 'one': '', 'other': 's'}"></ng-pluralize>
                </li>
              </ul>
            </div>
            <div class="add-to-cart">
              <a href="#" class="btn" ng-class="$index == 0 ? 'btn-full' : 'btn-ghost'" ng-click="addToCart(meal)">Add to Cart</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="order-section">
      <div class="order-section-header">
        <div class="order-section-title">Add-ons</div>
      </div>
      <div class="row order-section-body">
        <div class="col span-1-of-2" ng-repeat="addon in addons">
          <div class="menu-item addon-tile">
            <div class="item-title">{{addon.name}}</div><div class="addon-price">${{addon.price}}</div>
            <div class="item-details">{{addon.description}}</div>
            <div class="addon-to-cart"><a href="#" class="btn btn-sm btn-ghost" ng-click="addToCart(addon)">Add to Cart</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div ng-controller="OrdersController">
    <!--<div ng-include="'/modules/orders/client/views/order-summary.client.view.html'"></div>-->
    <!--<div class="order-summary">-->
      <!--<div class="row order-empty-header" ng-if="cartIsEmpty()">You cart is currently Empty</div>-->
      <!--<div class="row" ng-if="!cartIsEmpty()">-->
        <!--<a href="#" class="empty-cart" ng-click="remove()"><span>Empty My Cart</span></a>-->
      <!--</div>-->
      <!--<div class="row order-header" ng-if="!cartIsEmpty()">-->
        <!--Your Current Order:-->
      <!--</div>-->
      <!--<div class="row order-item" ng-repeat="meal in order.meals track by meal._id | orderBy: 'name'">-->
        <!--<div class="order-details">{{meal.name}}</div>-->
        <!--<div class="order-detail-price">{{meal.quantity}}x {{meal.price | currency}}</div>-->
        <!--<a href="#" class="remove" ng-click="removeFromCart(meal)"><i class="fa fa-times-circle"></i></a>-->

        <!--<div class="order-details-item" ng-repeat="item in meal.items">-->
          <!-&#45;&#45; {{item.name}}-->
        <!--</div>-->

      <!--</div>-->
      <!--<div class="row order-item" ng-repeat="addon in order.addons track by addon._id | orderBy: 'name'">-->
        <!--<div class="order-details">{{addon.name}}</div><div class="order-detail-price">{{addon.quantity}}x ${{addon.price | currency}}</div> <a href="#" class="remove" ng-click="removeFromCart(addon)"><i class="fa fa-times-circle"></i></a>-->
      <!--</div>-->
      <!--<div class="row order-total" ng-if="!cartIsEmpty()">-->
        <!--Total: {{order.total | currency}}-->
      <!--</div>-->

      <!--<div class="row checkout" ng-if="!cartIsEmpty()">-->
        <!--<a href="#" class="btn btn-full" ng-click="doCheckout(order)">Checkout</a>-->
      <!--</div>-->
    <!--</div>-->

    <div class="order-overlay" ng-if="showSummary">
      <div class="order-popup box-item" >
        <div ng-include="'/modules/orders/client/views/order-summary.client.view.html'"></div>
      </div>

    </div>

    <div class="order-overlay" ng-hide="!newItem && !order.paid" >
      <div class="order-popup" ng-class="getItemPopupClass()" ng-show="newItem">
        <div class="popup-header">
          <div class="row item-title">{{newItem.name}}</div>
          <div class="row item-details">{{newItem.description}}</div>
          <div class="item-price">${{newItem.price}}</div>
        </div>
        <div class="popup-body" ng-if="newItem.menuItems">
          <div class="row meal" ng-repeat="menuItem in newItem.menuItems | orderBy: 'ordinal'">
            <span>{{menuItem.name}}</span>
            <select ng-options="item.name for item in getCourseItems(menuItem.id) | orderBy: 'name' "
                    ng-model="menuItem.choice"></select>
          </div>
          <div class="row addon"><span>Quantity</span><input ng-model="newItem.quantity" type="number" min="2"></div>
        </div>
        <div class="popup-body" ng-if="!newItem.courses">
          <div class="row addon"><span>Quantity</span><input ng-model="newItem.quantity" type="number"></div>
        </div>
        <div class="popup-footer">
          <a href="#" class="btn btn-sm btn-ghost" ng-click="newItem = null">Cancel</a>
          <a href="#" class="btn btn-sm btn-full" ng-click="addToCart(newItem)" >Add to Cart</a>

        </div>
      </div>
      <div class="order-popup order-receipt" ng-show="order.paid">
        <div class="row receipt-header">
          Thank You for your purchase.
        </div>
        <div class="row receipt-body">
          Your Order (#{{order.orderNumber}}) has been processed.
        </div>
        <div class="row receipt-details">
          <div class="order-header" ng-if="!cartIsEmpty()">
            Summary:
          </div>
          <div class="row order-item" ng-repeat="meal in order.meals track by meal._id | orderBy: 'name'">
            <div class="order-details">{{meal.name}}</div>
            <div class="order-detail-price">{{meal.quantity}}x {{meal.price | currency}}</div>


            <div class="order-details-item" ng-repeat="item in meal.items">
              - {{item.name}}
            </div>

          </div>
          <div class="row order-item" ng-repeat="addon in order.addons track by addon._id | orderBy: 'name'">
            <div class="order-details">{{addon.name}}</div><div class="order-detail-price">{{addon.quantity}}x ${{addon.price | currency}}</div> <a href="#" class="remove" ng-click="removeFromCart(addon)"><i class="fa fa-times-circle"></i></a>
          </div>
          <div class="row order-total" ng-if="!cartIsEmpty()">
            Total: {{order.total | currency}}
          </div>
        </div>
        <div class="row close-order">
          <a href="#" class="btn btn-sm btn-ghost" ng-click="closeOrder()">Got it!</a>
        </div>
      </div>
    </div>
  </div>
</section>
