<section >
  <div class="rd-parallax">
    <div data-speed="0.45" data-type="media" data-url="../modules/core/client/img/intro-01-1920x955.jpg" class="rd-parallax-layer" style="background-image: url('../modules/core/client/img/intro-01-1920x955.jpg'); height: 110px;">
    </div>
    <!--<div class="rd-parallax-layer" style="background-image: url('../modules/core/client/img/intro-01-1920x955.jpg'); height:110px;">-->
    <!--</div>-->
  </div>
  <div class="shell">
    <div class="section-50 section-cover ">
      <div class="page-header">
        <h1>Meals</h1>
      </div>
      <div ng-if="vm.isAdmin" class="bottom-gap">
        <a ui-sref="meals.create">
          <button class="btn btn-primary">Add Meal</button>
        </a>
      </div>
      <div class="list-group">
        <a data-ng-repeat="meal in vm.meals"
           data-ui-sref="meals.view({ mealId: meal._id })"
           class="list-group-item col-sm-3 left-gap bottom-gap-small">

          <h5 class="pull-right list-group-item-heading"><span class="label label-info">${{meal.price}}</span></h5>
          <h4 class="list-group-item-heading" data-ng-bind="meal.name"></h4>

          <small>
            {{meal.description}}
          </small>
          <div class="panel panel-default top-gap-small">
            <div class="panel-body">
              <ul class="no-padding">
                <li data-ng-repeat="course in meal.courses" class="no-decoration"><strong>{{course.quantity}}x {{course.name}}<ng-pluralize count="course.quantity"
                                                                                                                       when="{'0': 'Nobody is viewing.',
                         'one': '',
                         'other': 's'}">
                </ng-pluralize></strong></li>
              </ul>
            </div>
          </div>
        </a>
      </div>

      <!--<div class="panel panel-default">-->
        <!--<div class="panel-heading">-->
          <!--<h3 class="panel-title">Panel title</h3>-->
        <!--</div>-->
        <!--<div class="panel-body">-->
          <!--Panel content-->
        <!--</div>-->
      <!--</div>-->
      <div class="alert alert-warning text-center" data-ng-if="vm.meals.$resolved && !vm.meals.length">
        No Meals yet, why don't you <a data-ui-sref="meals.create">create one</a>?
      </div>
    </div>
  </div>
</section>
