<section class="no-padding">
  <div class="page-header">
    <h3>Meals</h3>
  </div>
  <div ng-if="vm.isAdmin" class="bottom-gap">
    <a ui-sref="admin.meals.create">Add Meal</a>
  </div>
  <div class="row">
    <div class="col span-1-of-3" ng-repeat="meal in vm.meals">
      <div class="plan-box">
        <div>
          <h3>{{meal.name}}</h3>
          <p class="plan-price">${{meal.price}}<span>xx</span></p>
          <p class="plan-price-meal">{{meal.description}}</p>
        </div>
        <div>
          <ul>
            <li ng-repeat="course in meal.courses">
                <i class="ion-ios-checkmark icon-small"></i>{{course.quantity}} {{course.name}}<ng-pluralize count="course.quantity"
                                                                                                             when="{'0': 'Nobody is viewing.',
                     'one': '',
                     'other': 's'}"></ng-pluralize>
            </li>
          </ul>
        </div>
        <div>
          <a href="#" class="btn btn-full" ui-sref="admin.meals.edit({ mealId: meal._id })">Edit</a>
        </div>
      </div>
    </div>
  </div>

  <div class="alert alert-warning text-center" data-ng-if="vm.meals.$resolved && !vm.meals.length">
    No Meals yet, why don't you <a data-ui-sref="admin.meals.create">create one</a>?
  </div>
</section>
