<section class="no-padding">
  <div class="pull-right" ng-if="vm.isAdmin">
    <h4>
      <span ng-if="vm.meal.enabled" class="label label-success">Enabled</span>
      <span ng-if="!vm.meal.enabled" class="label label-warning">Disabled</span>
      <a class="btn btn-primary"
         data-ui-sref="admin.meals.edit({ mealId: vm.meal._id })">
        <i class="glyphicon glyphicon-edit"></i>
      </a>
    </h4>

  </div>
  <div class="page-header" >
    <h3 >{{vm.meal.name}} <small>{{vm.meal.price | currency}}</small></h3>
    <a ui-sref="admin.order.create({ mealId: vm.meal._id })" ng-if="!vm.isAdmin"><button class="btn btn-primary">Order Now</button></a>
  </div>

  <div class="panel panel-default">
    <div class="panel-heading" >
      {{vm.meal.description}}
    </div>
    <div class="panel-body">
      <ul class="no-padding">
        <li data-ng-repeat="course in vm.meal.courses" class="no-decoration"><strong>{{course.quantity}}x {{course.name}}<ng-pluralize count="course.quantity"
                                                                                                                                    when="{'0': 'Nobody is viewing.',
                     'one': '',
                     'other': 's'}">
        </ng-pluralize></strong></li>
      </ul>
    </div>
  </div>

  <small ng-if="vm.isAdmin">
    <em class="text-muted">
      Posted on
      <span data-ng-bind="vm.meal.created | date:'mediumDate'"></span>
      by
      <span data-ng-if="vm.meal.user"
            data-ng-bind="vm.meal.user.displayName"></span>
      <span data-ng-if="!vm.meal.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" data-ng-bind="vm.meal.content"></p>
</section>
