<section class="no-padding">
  <div class="page-header">
    <h3>{{menuItem._id ? 'Edit Menu Item' : 'New Menu Item'}}</h3>
  </div>
  <div class="col-md-12">
    <form name="form.menuItemForm" class="form-horizontal" ng-submit="save(form.menuItemForm.$valid)" novalidate>
      <fieldset>
        <div class="bottom-padding" show-errors>
          <label class="control-label col-sm-2" for="name">Name</label>
          <div class="col-sm-7">
            <input name="name" type="text" ng-model="menuItem.name" id="name" class="form-control " placeholder="Name" required>
          </div>

          <div ng-messages="form.menuItemForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Menu Item name is required.</p>
          </div>
        </div>
        <div class="bottom-padding" show-errors>
          <label class="control-label col-sm-2" for="description">Description</label>
          <div class="col-sm-7">
            <textarea name="description" rows="10" type="text" ng-model="menuItem.description" id="description" class="form-control" placeholder="Description"></textarea>
          </div>
        </div>
        <div class="bottom-padding" show-errors>
          <label class="control-label col-sm-2" for="course">Course</label>
          <select class="form-control" name="course" id="course" ng-model="menuItem.course.id" required>
            <option ng-repeat="course in courses" value="{{course._id}}">{{course.name}}</option>
          </select>

          <div ng-messages="form.menuItemForm.course.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Menu Item Course is required.</p>
          </div>
        </div>
        <div class="bottom-padding">
          <label class="control-label col-sm-2" for="price">Price</label>
          <input type="number" ng-class="{ 'btn-success': menuItem.enabled == true, 'btn-warning': menuItem.enabled == false }" ng-model="menuItem.price" id="price" name="enabled">
        </div>

        <div class="bottom-padding">
          <label class="control-label col-sm-2" for="enabled">Enabled</label>
          <input type="checkbox" ng-class="{ 'btn-success': menuItem.enabled == true, 'btn-warning': menuItem.enabled == false }" ng-model="menuItem.enabled" id="enabled" name="enabled"></checkbox>
        </div>
        <div class="">
          <button type="submit" class="btn btn-info">{{menuItem._id ? 'Update' : 'Create'}}</button>

          <a ui-sref="admin.menuitems.list" >
            <button class="btn btn-default">Cancel</button>
          </a>

          <a ng-if="menuItem._id" class="btn btn-danger" data-ng-click="remove()">Delete</a>
        </div>

        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
