<section class="no-padding">
  <div class="page-header">
    <h3>Menu Items</h3>
  </div>
  <div class="bottom-gap">
    <a ui-sref="admin.menuitems.create">Add Menu Item</a>
  </div>
  <div class="list">
    <div class="list-item" data-ng-repeat="menuItem in menuItems"
       data-ui-sref="admin.menuitems.edit({ menuItemId: menuItem._id })"
       class="list-group-item">
      <!--<small class="list-group-item-text">-->
        <!--Posted on-->
        <!--<span data-ng-bind="menuItem.created | date:'mediumDate'"></span>-->
        <!--by-->
        <!--<span data-ng-if="menuItem.user" data-ng-bind="menuItem.user.displayName"></span>-->
        <!--<span data-ng-if="!menuItem.user">Deleted User</span>-->
      <!--</small>-->
      <h4 class="list-group-item-heading">
        {{menuItem.name}}
        <small><span class="label label-info"><a>{{menuItem.course.name}}</a></span></small>
      </h4>
      <small class="list-group-item-text" data-ng-bind="menuItem.description"></small>
    </div>
  </div>
  <div class="alert alert-warning text-center" data-ng-if="menuItems.$resolved && !menuItems.length">
    No Menu Items yet, why don't you <a data-ui-sref="admin.menuitems.create">create one</a>?
  </div>
</section>
