<section>
  <div class="pull-right"
       data-ng-show="vm.menuItem.isCurrentUserOwner">
    <h4>
      <span ng-if="vm.menuItem.enabled" class="label label-success">Enabled</span>
      <span ng-if="!vm.menuItem.enabled" class="label label-warning">Disabled</span>
      <a class="btn btn-sm btn-primary"
        data-ui-sref="menuitems.edit({ menuItemId: vm.menuItem._id })">
        <i class="glyphicon glyphicon-edit"></i>
      </a>
    </h4>
  </div>
  <div class="page-header">
    <h1 data-ng-bind="vm.menuItem.name"></h1>
    <a ui-sref="courses.view({courseId: vm.menuItem.course.id})"><h4><span class="label label-info">{{vm.menuItem.course.name}}s</span></h4></a>
  </div>
  <div class="panel panel-default">
    <div class="panel-heading" data-ng-bind="vm.menuItem.description"></div>
    <div class="panel-body">
      Image
    </div>
  </div>

  <small>
    <em class="text-muted">
      Created on
      <span data-ng-bind="vm.menuItem.created | date:'mediumDate'"></span>
      by
      <span data-ng-if="vm.menuItem.user"
            data-ng-bind="vm.menuItem.user.displayName"></span>
      <span data-ng-if="!vm.menuItem.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" data-ng-bind="vm.menuItem.content"></p>
</section>
