.order-home {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 1)), url(img/zaher-order.jpg);

    /*padding-top: 300px;*/
    background-size: cover ;
    background-position: top;
    background-attachment: fixed;
    height: 100vh;
    /*position: relative;*/
    padding: 0;
    padding-bottom: 50px;
    padding-top: 150px;
    position: relative;
    overflow:hidden;
}

.order-container {
    height: 100%;
    width:70%;
    margin-left: 15%;
    overflow:auto;

}

.order-section {
    background-color: #222;
    padding-top: 30px;
    margin-bottom: 10px;
    margin-right: 5px;
    border-radius: 10px;
}

.order-section-header {
    color: #f3a328;
    text-align: center;
    font-size: 120%;
    border-bottom: 1px solid #f3a328;
    padding-bottom: 5px;
    width: 90%;
    margin-left: 5%;
    margin-bottom: 20px;
}

.order-section-title {
    text-transform: uppercase;
}

.order-section-body {
    /*width: 90%;*/
    color: #f3a328;
}

.order-section-body .item-title {
    width: 70%;
}

.order-section-body .col {
    margin: 10px 0;
    padding: 0 15px;
}

.order-section-body .menu-item {
    position: relative;
    background-color: #eee;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    color: #000;
}

.order-section .plan-box div:last-child {
    font-size: 90%;
}



/*.addon-tile {*/
    /*padding-bottom: 20px;*/
/*}*/

.addon-tile .item-details {
    /*width: 70%;*/
}

.addon-price {
    font-size: 130%;
    top: 5px;
    right: 10px;
    position: absolute;
    padding-top: 3px;
}

.addon-to-cart {
    margin-top: 20px;
    text-align: center;
}

.order-summary {
    background-color: #fff;
    /* width: 25%; */
    /* margin-left: 10%; */
    /* position: absolute; */
    /* top: 150px; */
    /* right: 10%; */
    font-family: 'Josefin Slab', serif;
    /* padding: 20px; */
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    /* height: 500px; */
}

.order-summary a.remove:link,
.order-summary a.remove:visited {
    border: 0;
}

a.close-summary:link,
a.close-summary:visited {
    float: left;
    font-size: 130%;
    text-decoration: none;
    border: 0;
}

.empty-cart {
    float: right;
    font-size: 70%;
    padding-top:10px;
    margin-bottom: 10px;
}

.order-header,
.order-empty-header {
    font-weight: bold;
}

.order-header {
    margin-top: 20px;
    border-bottom: 1px solid #000;
    margin-bottom: 10px;
}

.order-empty-header {
    padding-top: 5px;
    text-align: center;
}

.order-details {
    display: inline-block;
    font-size: 85%;
    width:60%;
    padding: 5px 0;
}

.checkout {
    margin-top: 20px;
    text-align: center;
    font-family: 'Special Elite', 'Arial', 'sans-serif';
}


.order-detail-price {
    display: inline-block;
    font-size: 70%;
    width: 30%;
    text-align: right;
}

.order-details-item {
    font-size: 75%;
    margin-left: 15px;
    line-height: 145%;
}

.order-total {
    text-align: right;
    /*margin-right: 20px;*/
    margin-top: 10px;
    padding-top: 15px;
    border-top: 1px solid #000;
}

div::-webkit-scrollbar {
    width: .5em;
    background-color: rgba(0,0,0,0);
}

div::-webkit-scrollbar-thumb {
    background-color: #222;
    -webkit-border-radius: 5px;
    -moz-border-radius: 50%;
    border-radius: 10px;
}

.order-overlay {
    z-index: 9999;
    background-color: rgba(0,0,0, 0.7);
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: scroll;
}

.order-popup {
    background-color: #fff;
    width: 10px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 100px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    padding: 20px;
    position: relative;
    height: auto;
    overflow: scroll;
}

.order-popup.box-item {
    width: 500px;
}

.order-popup.addon-item {
    width: 400px;
}

.popup-header {
    border-bottom: 1px solid #000;
    padding-bottom: 20px;
}

.popup-header .item-title {
    font-size: 130%;
    padding-top: 7px;
}

.popup-header .item-details,
.popup-header .item-title {
    width: 90%;
    margin-left: 0;
}

.popup-body {
    font-family: 'Josefin Slab', serif;
    padding: 20px 0;
}

.popup-body input {
    float:right;
    font-size: 100%;

    text-align: center;
    margin-bottom: 15px;
}

.popup-body .addon input {
    width: 50px;
}

.popup-body .meal input {
    width: 250px;
}

.popup-body .meal select {
    width: 50%;
    float: right;
    font-size: 130%;
}

.popup-body span {
    font-size: 120%;
}

.popup-body input[type=number]::-webkit-inner-spin-button,
.popup-body input[type=number]::-webkit-outer-spin-button {
    opacity: 1;
}

.popup-footer {
    border-top: 1px solid #000;
    padding: 20px 0px;
}

.popup-footer a {
    float: right;
}

.item-price {
    position: absolute;
    right: 20px;
    top: 20px;
    font-size: 200%;
}

.order-receipt {
    width: 500px;
    font-family: 'Josefin Slab', serif;
}

.receipt-header {
    font-size: 150%;
    padding-bottom: 20px;
}

.receipt-body {
    padding-bottom: 15px;
}

.order-receipt .order-details {
    width:70%;
}

.order-receipt .order-detail-price {
    width: 23%;
}

.close-order {
    text-align: right;
    margin-top: 30px;
}

.order-info {
    margin-top: 20px;
    line-height: 145%;
}

.order-info label {
    padding-right: 20px;
}

.order-info input {
    width: 250px;
    /*height: 50px;*/
    font-size: 80%;
}

.order-info-warning {
    font-size: 90%;
    text-align: center;
    color: #CC0000;
}

.mealItem-warning {
    font-size: 90%;
    text-align: center;
    color: #CC0000;
}


/****** ORDER ADMIN **********/
.order-admin {
    font-family: 'Josefin Slab', serif;
}

.order-data {
    font-size: 80%;
}

.order-back {
    margin-bottom: 40px;
}
